[defaults]
inventory = inventory.ini
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
interpreter_python = auto_silent
deprecation_warnings = False
[privilege_escalation]
become = True
become_method = sudo
